@model BTVBookRental.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Detalii</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumePrenume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumePrenume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumarMatricol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumarMatricol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specializarea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specializarea)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editeaza</a> |
    <a asp-action="Index">Inapoi</a>
</div>
